.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  gap: 30px;
}

/* Sección de Texto */
.text-section {
  flex: 1;
  text-align: center;
}

.text-section h1 {
  font-size: 2rem;
  color: #1890ff;
  margin-bottom: 5px;
}

.text-section p {
  font-size: 1rem;
  color: #555;
  line-height: 1.3;
  max-width: 350px;
}

.form-section {
  flex: 1;
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.profile-form .ant-form-item {
  margin-bottom: 18px;
}

.save-button {
  width: 100%;
  background-color: #1890ff;
  border: none;
}

.save-button:hover {
  background-color: #40a9ff;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .text-section {
    margin-bottom: 20px;
  }
}

/* Contenedor de los botones */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Botón Editar */
.edit-button {
  background-color: #ff9800; /* Naranja */
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #e68900;
}

/* Botón Confirmar */
.confirm-button {
  background-color: #00d26a; 
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.confirm-button:disabled {
  background-color: #b5b5b5; 
  cursor: not-allowed;
}

.confirm-button:hover:not(:disabled) {
  background-color: #00b85c;
}
